.headerNav {
  li {
    white-space: nowrap;
    :not(.signoutBtn):not(.signinBtn) {
      transition: all 0.1s;
    }
    :not(.signoutBtn):not(.signinBtn):hover {
      color: #ed6d1f;
    }
  }
}
.signoutBtn,
.signinBtn {
  color: #ed6d1f;
  background-color: #ffffff;
  border: 2px #ed6d1f solid;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #ed6d1f;
    color: #ffffff;
  }
}
